/* HEADER */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header {
  position: relative;
}

/* SITE-NAV */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.site-nav .link {
  color: var(--primary-text-color);
  padding-bottom: 30px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.active {
  color: var(--accent-color);
  position: relative;
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* AUCH-NAV */
.auch-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.auch-nav .link {
  color: var(--second-text-color);
  margin-right: 0px;
}

.auch-nav .link:hover,
.auch-nav .link:focus {
  color: var(--accent-color);
}

.auch-nav .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.auch-nav .link:first-child {
  padding-right: 30px;
}

.icon {
  fill: currentColor;
  margin-right: 10px;
}

/* TOGETHER */
.site-nav .link,
.auch-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.box {
  background: #2196F3;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  position: relative;
  top: 125%;
}

/* LOGO */
.logo-primary {
  color: var(--accent-color);
}

.logo-secondary {
  color: var(--black);
}

.logo-primary,
.logo-secondary {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link.active {
  position: static;
  padding-bottom: 30px;
}

/* FOOTER LOGO */
.footer .logo-primary {
  color: var(--accent-color);
}

.footer .logo-secondary {
  color: var(--bg-color-white);
  padding: 0;
}

.footer .logo-primary,
.footer .logo-secondary {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

:root {
  --primary-text-color:#212121;
  --second-text-color: #757575;
  --accent-color:#2196F3;
  --bg-color-white:#FFFFFF;
  --bg-color-black:#2F303A;
  --black:#000000;
}

.list {
  list-style: none;
}

.body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* HERO */
.section-hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 600px;
  margin-bottom: 95px;
}

.container-hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 118px;
  padding-top: 118px;
}

.container-hero__title {
  margin: 0px;
  color: var(--bg-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/*  MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: opacity 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: relative;
  width: 528px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__icon {
  display: block;
  margin-left: auto;
  padding-right: 8px;
  padding-top: 8px;
}

.modal__icon:hover {
  fill: #2196F3;
}

.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
}

.modal__form {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.form-div:focus-within .icon {
  fill: #2196F3;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.form-div:nth-child(3) {
  margin-bottom: 10px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-input:focus {
  border: 1px solid #2196F3;
  outline: #2196F3;
}

.form-input + .form-label {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: -webkit-transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67), -webkit-transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input:not(:-moz-placeholder-shown) + .form-label {
  transform: translateY(-50px);
  -moz-transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.form-input:not(:-ms-input-placeholder) + .form-label {
  transform: translateY(-50px);
  -ms-transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: -webkit-transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67), -webkit-transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-div .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #212121;
}

.textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.textarea .form {
  height: 90px;
  resize: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea .form:focus {
  border: 1px solid #2196F3;
  outline: #2196F3;
}

.textarea .form::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.textarea .form::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.textarea .form:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.textarea .form::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.textarea .form::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.textarea .comment {
  padding-bottom: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.agreement .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement .link {
  padding-left: 5px;
  color: #2196F3;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  height: 18px;
  width: 18px;
  margin: 0;
}

.agreement .icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #2F303A;
}

.checkbox:checked + .icon {
  background-color: var(--accent-color);
  background-image: url(/img/icon\ check\(2\).svg);
}

/* MODAL END */
.features-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.features-link__item:last-child {
  margin: 0;
}

.features-link__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F4FA;
  height: 120px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.features-link__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 30px;
}

.features-link__paragraph {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.section-title .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 95px;
}

.picture-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.picture-link__item {
  margin-right: 30px;
}

.picture-link__item:last-child {
  margin: 0;
}

.picture-link__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.picture-link__text-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.picture-link__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* WORK END */
.team-link {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 125px;
  margin-top: 0;
  padding: 0;
}

.team-link__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-link__name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-link__prof {
  color: var(--second-text-color);
  margin: 0;
  padding-bottom: 25px;
}

.team-link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-left: 0;
  padding-bottom: 35px;
}

.team-link__team {
  width: 100%;
  display: block;
  height: auto;
}

.team-link__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.team-link__socials:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-link__svg {
  fill: #afb1b8;
}

.team-link__svg:hover {
  fill: #fff;
}

.team-link__socials:hover .team-link__svg {
  fill: #fff;
}

/* TEAM END */
.client {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 95px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.list-client__icon:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

/* Clients End */
/* Footer */
.footer {
  background-color: var(--bg-color-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-title .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-title .icon:hover {
  background-color: var(--accent-color);
}

.text-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 0;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.container-footer .section1 {
  display: block;
  padding-bottom: 60px;
  padding-top: 60px;
}

.container-footer .section2 {
  display: block;
  margin-right: 40px;
  padding-top: 72px;
  padding-bottom: 93px;
}

.address {
  color: var(--bg-color-white);
  margin-bottom: 9px;
  margin-top: 19px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  margin-top: 9px;
}

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  width: 358px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.button-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 9px 20px;
  min-width: 38px;
  border: transparent;
}

.button .title:hover,
.button .title:focus {
  color: var(--accent-color);
}

.button-title:hover,
.button-title:focus {
  color: var(--bg-color-white);
  background: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.list-button {
  margin-top: 100px;
  margin-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.button-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: var(--accent-color);
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.button-position {
  margin-left: 90px;
  padding-top: 72px;
  padding-bottom: 94px;
}

.button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: var(--bg-color-white);
  background-color: var(--accent-color);
  text-decoration: none;
}

.button-footer .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding-left: 30px;
}

.button-footer .svg {
  fill: #FFFFFF;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 10px;
}

/* TABS */
.heading .description {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 20px;
}

.flex-elements {
  margin-bottom: 30px;
  height: 404px;
}

.flex-elements:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-elements .title,
.flex-elements .description {
  padding-left: 24px;
}

.kia {
  margin: 0;
  padding: 0;
}

.produckt {
  position: relative;
  overflow: hidden;
}

.produckt-thumb {
  position: absolute;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.produckt-thumb:hover {
  opacity: 1;
}

.flex-elements:hover .produckt-thumb {
  position: absolute;
  -webkit-transform: translate(0);
  transform: translate(0);
  width: 100%;
  height: 100%;
  background-color: #fff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
}

.produckt-name {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  margin: 0;
  width: 322px;
  height: 168px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.heading .title {
  color: var(--second-text-color);
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 95px;
  padding-left: 0px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .together {
    display: none;
  }
  .site-nav,
  .auch-nav {
    display: none;
  }
  .main-nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .container .main-nav {
    padding: 0;
  }
  .container-hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .team-link {
    display: block;
  }
  .team-link__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-link__link {
    margin-right: 10px;
  }
  .features-link {
    display: block;
  }
  .features-link__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .features-link__paragraph {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
  }
  .section-hero {
    background-size: cover;
    height: 400px;
  }
  .team-link__item {
    margin-bottom: 30px;
  }
  .client {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
  }
  .list-client__icon {
    width: calc((100% - 30px) / 2);
    margin: 5px;
  }
  .list-client {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-footer .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-footer .section2 {
    margin: 0;
    padding: 0;
  }
  .text-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-position {
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0;
  }
  .mailing {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-footer {
    padding: 0;
  }
  .telegram-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 60px;
  }
  .flex-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
  }
  .list-button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding-right: 8px;
    padding-bottom: 15px;
    margin-top: 75px;
  }
  .modal {
    width: calc(100% - 15px);
  }
  .agreement .text {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .container .main-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 20px;
    gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .auch-nav {
    display: block;
    padding-left: 45px;
    margin: 0;
  }
  .container .header {
    display: block;
  }
  .features-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .features-link__item {
    width: calc((100% - 30px) / 2);
  }
  .together {
    display: none;
  }
  .team-link__item {
    width: calc((100% - 30px) / 2);
  }
  .team-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .list-client__icon {
    width: calc((100% - 60px) / 3);
  }
  .list-client {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-bottom: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-footer .section1 {
    text-align: center;
  }
  .container-footer .section2 {
    text-align: center;
  }
  .container-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .button-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */