@media screen and (min-width: 481px) and (max-width:1199px){
    .container .main-nav{
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 21px;
        padding-bottom: 20px;
        gap: 30px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .auch-nav{
        display: block;
        padding-left: 45px;
        margin: 0;
    }
    .container .header{
        display: block;
    }
    .features-link{
        flex-wrap: wrap;
        gap: 30px;
    }
    .features-link__item{
        width: calc((100% - 30px)/2);
    }
    .together{
        display: none;
    }
    .team-link__item{
        width: calc((100% - 30px)/2);
    }
    .team-link{
        flex-wrap: wrap;
        gap:30px ;
    }
    .list-client__icon{
        width: calc((100% - 60px)/3 );
    }
    .list-client{
    flex-wrap: wrap;
    gap: 25px;
    display: flex;
    
    padding-left: 0;
    padding-bottom: 60px;
    justify-content: center;
    }
    .footer-title{
            display:flex;
    }
    .container-footer .section1{
        
        text-align: center;
    }
    .container-footer .section2{
        
        text-align: center;
    }
    .container-footer{
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-pack: distribute;
justify-content: space-around;
    }
    .button-position{
        display: flex;
    }

}